@model Hospital_Management_Database.Models.AdmissionDischarge

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AdmissionDischarge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="wardnumber" class="control-label"></label>
                <input asp-for="wardnumber" class="form-control" />
                <span asp-validation-for="wardnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bednumber" class="control-label"></label>
                <input asp-for="bednumber" class="form-control" />
                <span asp-validation-for="bednumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateadmitted" class="control-label"></label>
                <input asp-for="dateadmitted" class="form-control" />
                <span asp-validation-for="dateadmitted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datedischarged" class="control-label"></label>
                <input asp-for="datedischarged" class="form-control" />
                <span asp-validation-for="datedischarged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
